/* Fav List
---------------------------------------------------------------------------- */

.fav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Fav Item
---------------------------------------------------------------------------- */

.fav-item {
  background-color: var(--color-lightest);
  display: inline-block;
  padding: var(--s) var(--m) var(--s) var(--s);
  position: relative;

  &::before{
    position: absolute;
    font-size: var(--xxl);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: var(--l);
    top: 0;
    bottom: 0;
  }

  p, address{
    margin: 0;
    font-style: normal;
    margin-left: var(--xxxl);
    line-height: var(--lh-tight);
  }

  p{
    font-weight: var(--fw-medium);
  }

  address{
    font-size: smaller;
  }
}

.welcome {
  background-color: var(--color-orange);
  color: var(--color-lightest);
}

.folder {
  padding: 5px;
  background-color: var(--color-lightest);
  list-style: none;
  margin: 10px 0;
}

.author {
  font-size: var(--s)
}

.logo {
  background-color: var(--color-lightest);
  padding: var(--s);
}

a.about {
  color: var(--color-lightest);
  text-transform: uppercase;
  font-size: var(--m);
  padding-left: 0px;
}

li.folder {
  display: flex;
  align-items: flex-start;
}

li.folder a {
  text-decoration: none;
  color: var(--color-darkest);
}

span.icon {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.author {
  font-size: var(--s);
}

.tags {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
}

.tags li {
  font-size: var(--s);
  background-color: var(--color-grey);
  padding: 5px 10px;
  border-radius: 2px;
}