/* Fav List
---------------------------------------------------------------------------- */

.fav-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Fav Item
---------------------------------------------------------------------------- */

.fav-item {
  position: relative;
  display: inline-block;
  padding: var(--s) var(--m) var(--s) var(--s);
  background-color: var(--color-lightest);

  &::before{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--xxl);
    line-height: var(--l);
  }

  p, address{
    margin: 0;
    margin-left: var(--xxxl);
    font-style: normal;
    line-height: var(--lh-tight);
  }

  p{
    font-weight: var(--fw-medium);
  }

  address{
    font-size: smaller;
  }
}

.welcome {
  background-color: var(--color-orange);
  color: var(--color-lightest);
}

.folder {
  padding: 5px;
  margin: 10px 0;
  background-color: var(--color-lightest);
  list-style: none;
}

.author {
  font-size: var(--s)
}

.logo {
  padding: var(--s);
  background-color: var(--color-lightest);
}

a.about {
  padding-left: 0;
  color: var(--color-lightest);
  font-size: var(--m);
  text-transform: uppercase;
}

li.folder {
  display: flex;
  align-items: flex-start;
}

li.folder a {
  color: var(--color-darkest);
  text-decoration: none;
}

span.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

p.author {
  font-size: var(--s);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 5px;
  list-style: none;
}

.tags li {
  padding: 5px 10px;
  border-radius: 2px;
  background-color: var(--color-grey);
  font-size: var(--s);
}

.main-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  width: 200px;
  height: calc(100vh - var(--xl) * 2);
  flex-direction: column;
  padding: var(--xl);
  background-color: var(--color-grey);
  gap: var(--l);
  transform: translateX(-100%);
  transition: transform var(--tr-normal);

  &.is-active{
    transform: translateX(0);
  }
}